{% extends 'base.html' %}
{% load static %}                    <!--to load the static files-->
{% block page_title %}
    Home
{% endblock page_title %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'Home/home.css' %}">
  <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock css_files %}

{% block content %}
    <section id="welcome">
      <header>
        <img src="{% static 'Home/images/kanha.jpg' %}" alt="Kanha the author of this blog"/>
        <h2> Kanha's Blog </h2>
      </header>
      <p> Hi, I am Kanha. I love to blog and web development</p>
    </section>

  <section id="latest-blogs">
    <h2> My latest thoughts </h2>
    <ul>   
      <!--single blog is shown as we only want to show the latest blog,
          put it in the base template direcory because it is also included by the AllBlogs app
      -->   
      {% include 'includes/blog.html' %}     <!-- getting this from root template folder because it is also needed by AllBlogs app-->
    </ul>
  </section>

  <section id="about">
    <h2>What I do</h2>
    <p>I do what you are seeing nothing less than this nothing more than that.</p>
    <p>My goal is to appreciate everyone who is seeing this page </p> 
{% endblock content %}

