{% extends 'base.html' %}
{% load static %}                    <!--to load the static files-->
{% block page_title %}
    Home
{% endblock page_title %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'Home/home.css' %}">
  <link rel="stylesheet" href="{% static 'base.css' %}">  
{% endblock css_files %}

{% block content %}
  <header id="main-navigation">
    <h1><a href="">Kanha's Blog</h1>
      <nav>
        <a href="">All Blogs</a>
      </nav>  
  </header>

  <section id="welcome">
    <header>
      <img src="{% static 'Home/images/kanha.jpg' %}" alt="Kanha the author of this blog"/>
      <h2> Kanha's Blog </h2>
    </header>
    <p> Hi, I am Kanha. I love to blog and web development</p>
  </section>

  <section id="latest-blogs">
    <h2> My latest thoughts </h2>
    <ul>
      <li>
        <article class="blog">
          <a href="">
            <image src="{% static 'Home/images/moutain.jpg' %}" alt="Moutain hiking">
            <div class="blog__content">
              <h3>Mountain Hiking</h3>
              <p>There's nothing like the view you get when hiking in the mountain ! And I wasn't prepared for what happened whilst I enjoying the view</P>
            </div>
          </a>
        </article>
      </li>
    </ul>
  </section>

  <section id="about">
    <h2>What I do</h2>
    <p>I do what you are seeing nothing less than this nothing more than that.</p>
    <p>My goal is to appreciate everyone who is seeing this page </p> 
{% endblock content %}

