<!--separated it from the home.html because we can use it in AllBlogs.html
and it  save our work and time by just including without copying the same data several times-->
{% load static %}
<li>
    <article class="blog">
      <a href="{% url 'blogDetails_page' "kanha" %}">     <!--kanha is slug here because url have a slug/variable-->
        <image src="{% static 'images/moutain.jpg' %}" alt="Moutain hiking">
        <div class="blog__content">
          <h3>Mountain Hiking</h3>
          <p>There's nothing like the view you get when hiking in the mountain ! And I wasn't prepared for what happened whilst I enjoying the view</P>
        </div>
      </a>
    </article>
</li>