{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Detailed Blog
{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'AllBlogs/blog_detail.css' %}">
{% endblock css_files %}

{% block content %}
    <section id="summary">
        <h2>{{clicked_blog.title}}</h2>
        <article>
            <img src="{% static 'images/'|add:clicked_blog.image %}" alt="{{clicked_blog.title}}">
            <address>{{clicked_blog.author}}</address>
            <div>
                Last update on <time>{{clicked_blog.date|date:"D d M Y"}}</time>
            </div>
        </article>
    </section>
    <main>
        <p>{{clicked_blog.content}}</p>
    </main>
{% endblock content %}