{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Detailed Blog
{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'AllBlogs/blog_detail.css' %}">
{% endblock css_files %}

{% block content %}
    <section id="summary">
        <h2>{{clicked_blog.title}}</h2>
        <div>
            {% for tag in post_tags %}
                <span class="tag">{{tag.caption}}</span>
            {% endfor %}
        </div>
        <article>
            <img src="{{clicked_blog.image.url}}" alt="{{clicked_blog.title}}">
            <address><a href="mailto:{{clicked_blog.author.email_addr}}">{{clicked_blog.author}}</a></address>
            <div>
                Last update on <time>{{clicked_blog.date|date:"D d M Y"}}</time>
            </div>
        </article>
    </section>
    <main>
        <p>{{clicked_blog.content}}</p>
    </main>

    <section id="comment-form">
        <h2>Your Comment</h2>
        <form action="{% url 'blogDetails_page' clicked_blog.slug %}" method="POST">
            {% csrf_token %}
            <!--render the comment form which is created using Comment model-->
            {% for form_field in comment_form %}
                <div class="form-control">
                    {{form_field.label_tag}}
                    {{form_field}}
                    {{form_field.errors}}
                </div>
            {% endfor %}
            <button>Save Comment</button>
        </form>
    </section>

{% endblock content %}