{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Detailed Blog
{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'AllBlogs/blog_detail.css' %}">
{% endblock css_files %}

{% block content %}
    <section id="summary">
        <h2>Blog Title</h2>
        <article>
            <img src="{% static 'images/moutain.jpg' %}" alt="Blog image">
            <address>By Kanha</address>
            <div>
                Last update on <time> 2 January 2023</time>
            </div>
        </article>
    </section>
    <main>
        <p> Ea fugiat excepteur cillum exercitation consequat aliquip ipsum sunt est voluptate. Irure ipsum excepteur sit Lorem in exercitation duis duis elit tempor aliqua ullamco cupidatat deserunt. Non eiusmod reprehenderit est dolor laboris excepteur excepteur. Adipisicing ea ex aliqua nisi aliqua pariatur proident. Proident eu fugiat aliquip proident qui cupidatat adipisicing ut sunt irure.
        </p>

        <p> Ea fugiat excepteur cillum exercitation consequat aliquip ipsum sunt est voluptate. Irure ipsum excepteur sit Lorem in exercitation duis duis elit tempor aliqua ullamco cupidatat deserunt. Non eiusmod reprehenderit est dolor laboris excepteur excepteur. Adipisicing ea ex aliqua nisi aliqua pariatur proident. Proident eu fugiat aliquip proident qui cupidatat adipisicing ut sunt irure.
        </p>
        
        <p> Ea fugiat excepteur cillum exercitation consequat aliquip ipsum sunt est voluptate. Irure ipsum excepteur sit Lorem in exercitation duis duis elit tempor aliqua ullamco cupidatat deserunt. Non eiusmod reprehenderit est dolor laboris excepteur excepteur. Adipisicing ea ex aliqua nisi aliqua pariatur proident. Proident eu fugiat aliquip proident qui cupidatat adipisicing ut sunt irure.
        </p>

        <p> Ea fugiat excepteur cillum exercitation consequat aliquip ipsum sunt est voluptate. Irure ipsum excepteur sit Lorem in exercitation duis duis elit tempor aliqua ullamco cupidatat deserunt. Non eiusmod reprehenderit est dolor laboris excepteur excepteur. Adipisicing ea ex aliqua nisi aliqua pariatur proident. Proident eu fugiat aliquip proident qui cupidatat adipisicing ut sunt irure.
        </p>
    </main>
{% endblock content %}